#S1{
color: red;
}
#S2{
color: brown;
}
#S3{
color: blue;
}
#S4{
color: chartreuse;
}
#S5{
color: cornflowerblue;
}
#S6{
color: darkmagenta;
}
#S7{
color: hotpink;
}
#S8{
color: cyan;
}
#S9{
color: darkgreen;
}
body{
background:#f5f5dd
}